.header-area .alazea-main-menu .classy-navbar .nav-link{
        COLOR: WHITE;
    FONT-WEIGHT: BOLD;
    FONT-FAMILY: SANS-SERIF;
    }


.heder {
    background-color: #7d6b88;
    
}
.nav-link1{
    font-size: xx-large;
}

.classmau{
    background: #ffccd1;

}
.classmautong{
    padding: 40px;
    background: #e2e2e2;
}
.classgiua{
        width: 100%;
    background: brown;
    text-align: center;
}


